@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Интернет магазин книг</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Purchases" asp-action="Create">Создать заказ</a>
</div>
